.drawer
  position: fixed
  top: 0
  left: 0
  width: 21rem
  height: 100%
  background: white
  box-shadow: -2px 0 5px rgba(0,0,0,0.2)
  padding: 20px
  z-index: 1000

.container-tags
    display: flex
    gap: 10px

.checkbox-menu
  display: flex
  flex-direction: column