$useThing: #EBE0C4
    
.group-buttons
    
    width: clamp(200px, 40%, 400px)
    height: auto

    .container-buttons
        display: flex
        justify-content: center
        gap: clamp(10px, 3vw, 40px)

.button
    min-width: 4rem
    max-width: 100%
    background-color: $useThing
    border: none
    border-radius: 20px
    
    padding: 10px

    cursor: pointer
    